/*********************************
body
*********************************/
html{
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif,"宋体";
	font-size:15px;
	line-height:1.7;
	min-height:100%;}
body{
	margin:0;
	padding:0;
	background:#fefefe;
}
main, header, footer, aside, nav, section, aside{
	display:block;
}
/*********************************清理浮动*/
.cf:before,.cf::after{content:" ";display:table;clear:both;}
.cf::after{overflow:hidden;}

/*********************************
header
*********************************/
header{
	display:block;
	color:#fff;
	height:107px;
	background:#005A9C;
	background-image:-webkit-linear-gradient(left, #2371AA, #2371AA);
	background-image:-moz-linear-gradient(left, #2371AA, #0062A3);
	background-image:linear-gradient(to right, #2371AA, #0062A3);
}
header>div,main>div{
	width:100%;
	max-width:1200px;
	position:relative;
}
header a{
	color:inherit;
	text-decoration:none;
}
h1{
	margin:19px 0 0px 280px;
	height:88px;
	line-height:1.2;
	color:#fff;
	text-shadow:1px 1px 5px #333;
}
#logo{
	display:block;
	float:left;
	height:107px;
	width:249px;
	background:url(http://imglf1.nosdn.127.net/img/aU9Oclh5YlRxcGJpZEFpTW9LZDZxbjBwOXo4eno4aUFKK1dDZEJMSWEvenZBWlN5eXN6QmF3PT0.png) no-repeat center;
	background-size:cover;
	box-shadow:4px 0 15px #111;
	transition-property:box-shadow;
	transition-duration:1s;
}
#logo:hover{
	box-shadow:5px 0 29px #000;
}
#logo a{
	display:block;
	height:100%;
	width:100%;
}
header h1::selection,header h1 br::selection{
	background-color:rgba(0, 0, 0, .1);
}

@media screen and (max-width:1200px){
/*
header{
	height:9vw;
}
#logo{
	width:21vw;
	height:9vw;
}header h1{
	font-size:2.5vw;
	margin:1.7vw 0 0 26vw;
	line-height:2.7vw;
}
#theme{
	width:21vw;
}
main{
	margin-left:25%;
	padding:10px 20px;
}*/
}
@media screen and (max-width:720px){
#logo{
	width:90px;
	height:53px;
	background:url(http://imglf2.nosdn.127.net/img/aU9Oclh5YlRxcGJpZEFpTW9LZDZxaUxFc1IxaDBoYk1hSGFxWjJVTEVNTngyakdsVWllV2ZRPT0.png?imageView&thumbnail=500x0&quality=96&stripmeta=0&type=jpg);
}
}